.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #242933;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.Logo {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-decoration-line: none;
  cursor: pointer;
}
.link {
  font-size: 1rem;
  color: #fff;
  margin: 0rem 1rem;
  text-decoration-line: none;
  cursor: pointer;
}
/* .link:hover,
.link:active {
  background-color: #0e1015;
  cursor: pointer;
} */
