footer {
  color: rgb(129 129 129 / var(--tw-text-opacity));
  height: 3rem;
  width: 100%;
  bottom: 0;
  padding: 8rem 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0rem 0rem 0rem;
  background-color: rgb(246, 246, 246);
}
.footerFirstSection {
  justify-content: start;
  align-items: start;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}
