@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
main {
  margin-top: 7rem;
  padding: 0 10% 0 10%;
}
a {
  text-decoration: none;
}
