@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
}
main {
  min-height: 15rem;
  padding: 0rem 10%;
  margin: 5rem 0rem 0rem 0rem;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
