@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  /* font-family: "NotoSansKR", Sans-serif; */
  /* line-height: 1rem; */
  /* padding: 0; */
  /* margin: 0; */
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
